$primaryColor: #0f566d;
$primaryColorAlt: #000000;
$secondaryColor: #000000;
$grey: #414042;
$lightgrey: #6d6e71;
$orange: #b95e00;
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Georgia', serif;