.accordion{

	margin: 20px 0;
	
	&__title{
		padding: 5px 0;
		border-bottom: 1px solid $verylightgrey;
		transition: all ease 0.25s;

		& > a{
			color: $primaryColor!important;
			padding-left: 3px;
		}

		&:before{
			content:'\f0d7';
			font-family:'FontAwesome';
			color: $orange;
			border: 1px solid $orange;
			padding: 2px 9px;
			
			display: inline-block;
			transition: all ease 0.25s;
		}

		&.active {
			border-bottom: 2px solid $orange;

			& > a {
				color: $orange!important;
			}
			
			&:before {
				transform: rotate(-180deg);
			}
		}
	}

	&__description {
		padding: 15px;
		background-color: $verylightgrey;
		border-radius: 3px;
		

		& p {
			margin-top: 0;
			font-size: 0.9em;
		}
	}


}