.figure {
    position: relative;;
    > img {
        border-radius:6px;
        box-shadow:0 5px 15px rgba(0,0,0,0.06);
    }

    > figcaption {
        position: relative;
        z-index:2;
        transform:
            translateY(-25px)
            translateX(10px);
        background-color:#fff;
        box-shadow:0 10px 25px 0 rgba(0,0,0,0.12);
        padding:10px 15px;
        max-width:90%;
        float:right;
        font-size:0.875em;
        font-style:italic;
        color:#888;
    }
}