.figure {
    position: relative;
    > img {
        border-radius:0px;
      /*  box-shadow:0 5px 15px rgba(0,0,0,0.06);*/
    }

    > figcaption {
        position: absolute;
        z-index:2;
        background-color: $primaryColor;
        padding:10px 15px;
        max-width:90%;
        float:right;
        font-size:0.875em;
        color:#fff;
        text-transform: uppercase;
        bottom:0;
        right:0;
    }
}