.footer{

	overflow: auto;

	&__box{
		width: 100%;
		display: inline-block;
		float: left;

		&__list{

			& li a {
				color: #ffffff;

				&:hover, &:focus, &:active{
					color: $orange;
				}
			}

			& > li:first-of-type{
			font-weight: 700;
			color: #ffffff;
			} 
		}


		@mixin atSmall{
			width: 50%;
		}

		@mixin atMedium {
			width: 33%;
		}

		@mixin atLarge {
			width: 20%;
		}
	}
}