.sidebar {
	width: 100%;
	padding: 0 5px;
	

	@mixin atSmall {
		max-width: 400px;
		margin: 0 auto; 
	}

	@mixin atLarge {
		margin-top: 0;
	}

	& > .btn {
		margin-bottom: 10px;
		width: 100%;
		display: inline-block;
		color: #fff;
		min-width: 0;

			& i {
				font-weight: 400;

			@mixin atMedium{	
				display: none;
			}

			@mixin atXLarge{
				display: block;
			}
		}

		&:hover{
			color: #fff;
		}

		&--icon-left {

			@mixin atMedium{
				padding-left: 65px;
			}

			@mixin atLarge{

			}

		& img{

			@mixin atMedium{
			max-height: 28px;
		}
			@mixin atLarge{
				
			}
		}
	}
	}

	& figure {

		margin-bottom: 30px;

		& > img {
		width: 100%;
		}
	}

	
}