.text-link {
	position:relative;
	color:#000;
	font-size:1em;
	font-weight:700;
	color: $primaryColor;
	

	&:hover {
		color: $orange;
		text-decoration: underline;
	}

	&--big{
		font-size: 1.25em;
	}
	
}