.two-column {

    @mixin atSmall {
        display:flex;
    }

    &__image {
        flex:1;
        object-fit:cover;

        @mixin atSmall {
            flex:0 0 50%;
            max-width:50%;
        }
    }

    &__content {
        flex:1;
        display: flex;
        padding:25px;
        align-items:center;
        justify-content: center;
        background-color:#efefef;

        @mixin atSmall {
            flex:0 0 50%;
            max-width:50%;
        }

        @mixin atMedium {
            padding:50px;
        }
    }

    &__container {
    }

    + .two-column {
        flex-direction: row-reverse;
    }

    :first-child {
        margin-top:0;
    }

}