.margin-top {
    margin-top:50px;

    &--small {
        @mixin atSmall {
            margin-top:0;
        }
    }

    &--medium {
        @mixin atMedium {
            margin-top:0;
        }
    }

    &--large {
        @mixin atLarge {
            margin-top:0;
        }
    }

}