.container{

	&--fluid {
    width:100%;
	max-width:1224px;
	margin:0 auto;
	padding-right:0px;
	padding-left:0px;

	@mixin atLarge{
		padding-right:15px;
		padding-left:15px;
	}
	
	&--small {
		max-width:1024px;
	}

	}


}


