.navbar {
    background-color:#fff;
    display:flex;
    padding:10px 0;
    align-items:center;
    justify-content:space-between;
    border-bottom:2px solid #000;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    z-index: 999;

    @mixin atLarge {
        padding:0px;
    }

    &__logo {
        padding:10px 5px;
        display: inline-block;
        max-width: 300px;

        & + .navicon--toggle {

        }

        @mixin atLarge{
            max-width: 332px;
            position: relative;
            top: 7px;
        }
    }

    &__top{
        width: 100%;
        position: relative;

        @mixin atLarge{
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

                    }

         &__right {
        display:none;

        @mixin atLarge {
            display:block;
            z-index: 2;
           
        }

            &__message{
                position: absolute;
                top: 33px;
                right: 25px;
                text-transform: uppercase;

                & span {
                    display: block;
                    color: #ffffff;

                    & a {
                        color: #ffffff;
                    }
                }



            }
        
        }

        &__left {
              display: flex;
              justify-content: space-between;
              align-items: center;


            @mixin atLarge {
                display:block;
               
            }

           &__phone-icon {
            display:inline-block;
            font-size:21px;
            line-height:18px;
            padding:10px 13px;
            
                &--on-toggle{
                    display: none;
                }

            }  
        }
        
        @mixin atLarge{
            &:after{
                content: '';
                width: 100%;
                height: 3px;
                background-color: $primaryColor;
                display: block;
                position: absolute;
                bottom:17px;

            }
         }
    }

   




    &__nav {
        position: fixed;
        top:0;
        left:auto;
        right:-100%;
        bottom:0;
        z-index:998;
        background-color:#ffffff;
        color: $grey;
        display:block;
        padding:25px 0;
        transition:all 0.25s ease;
        opacity: 0.0;




        &--is-open {
            right:0;
            opacity: 1;
            padding-top: 70px;

         
                
        }

        @mixin atLarge {
            position: relative;
            top:auto;
            left:auto;
            right:auto;
            bottom:auto;
            z-index:998;
            width: 100%;
            background-color:#e4e4e4;
            display:flex;
            justify-content:space-around;
            opacity: 1;
            margin-top: 10px;
        }
    }

    &__mobile-buttons {
        font-size: 30px;
        margin: 0 15px;
        color: $primaryColor;

        @mixin atLarge {
            display:none!important;
        }

        &.navicon--toggle{
            display: block;
            position:fixed;
            right: 0;
            

           
        }
    }

   &--fixed{
    position:fixed;
    padding: 5px 0;
    
    & .navbar__logo{
        max-width: 200px;
    }
   }

    &__tagline{
        display: none;
        color: $primaryColor;
        font-size: 0.8em;
        position:absolute;
        bottom:-5px;

            &--left{
                left: 77px;
            }

            &--right{
                right:5px;
            }

        @mixin atLarge{
            display: block;
        }
    }

}