.nav {
    margin-bottom:0;


    @mixin atLarge {
        display:flex;
    }

    &__item {
        display: block;
        margin-bottom:0;
        border-bottom: 1px solid $lightgrey;
        
        @mixin atLarge{
            border-bottom: none;
        }
            

          & > a:hover {
            color: #ffffff;

            @mixin atLarge{
               color: $orange;
               background: transparent;

            }
        }
    }

     &__item:focus &__link, &__item:active &__link{            
                background-color: $primaryColor;
                color: white;

                @mixin atLarge{
                    background: transparent;
                }
        }

    &__link {
        position: relative;
        display: block;
        padding:12px 50px;
        margin:0;
        font-weight:500;
        font-size:1em;
        color:$grey;

        &:hover{
            background-color: $primaryColor;

                & > i {
                    color: #fff;

                      @mixin atLarge{
                        color: $orange;
                    }
                }
            
          
            
        }

      

        @mixin atLarge {
            color: #000;
            padding: 12px 25px;
        }

    }
}