.navbar {
    background-color:#fff;
    display:flex;
    padding:10px 0;
    align-items:center;
    justify-content:space-between;
    border-bottom:2px solid #000;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    z-index: 999;

    @mixin atLarge {
        padding:0px;
    }

    &__logo {
        padding:10px 5px;
        display: inline-block;
        text-align: center;
        width: 100%;

        @mixin atLarge{
            width: auto;
        }

        & img{
            max-width: 300px;
            padding: 0 40px;
            width: 100%;
            transition: all ease 0.25s;

             @mixin atLarge{
                max-width: 324px;
                position: relative;
                top: 7px;
                padding: 0;
            }
        }

    }

    &__top{
        width: 100%;
        position: relative;

        @mixin atLarge{
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
                    }

         &__right {
             display:none;

        @mixin atLarge {
            display:block;
            z-index: 2;
        }

            &__message{
                position: absolute;
                top: 33px;
                right: 25px;
                text-transform: uppercase;

                & span {
                    display: block;
                    color: #ffffff;

                    & a {
                        color: #ffffff;
                    }
                }
            }
        }

        &__left {
              display: inline-block;
              width:100%;


            @mixin atLarge {
                display:block;
               width: auto;
            }

           &__phone-icon {
            display:inline-block;
            line-height:18px;
            padding:10px 13px;
            
                &--on-toggle{
                    display: none;
                }
            }  
        }
        
        @mixin atLarge{
            &:after{
                content: '';
                width: 100%;
                height: 3px;
                background-color: $primaryColor;
                display: block;
                position: absolute;
                bottom:17px;
            }
        }
    }

   
    &__nav {
        position: fixed;
        top:0;
        left:auto;
        right:-100%;
        bottom:0;
        z-index:998;
        background-color:#ffffff;
        color: $grey;
        display:block;
        padding:25px 0;
        transition:all 0.25s ease;
        opacity: 0.0;

        &--is-open {
            right:0;
            opacity: 1;
            padding-top: 70px;
            
            &:before{
                content: '';
                position: absolute;
                background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.7) 100%); 
                width: 100%;
                height: 100%;
                top: 0;
                left: -100%;
            }

            @mixin atLarge{
                padding-top: 25px;
            }
        }

        @mixin atLarge {
            position: relative;
            top:auto;
            left:auto;
            right:auto;
            bottom:auto;
            z-index:998;
            width: 100%;
            background-color:#e4e4e4;
            display:flex;
            justify-content:space-around;
            opacity: 1;
            margin-top: 10px;
        }

        &__mobile-message{
            text-align: center;
            color: $primaryColor;
            padding: 20px 10px;

            @mixin atLarge {
                display: none;
            }
                &__title{
                    margin-bottom: 10px;
                }

                & span {
                    display: block;
                }
        }
    }

    &__mobile-buttons {
        font-size: 30px;
        margin: 0 15px;
        color: $primaryColor;
        position: absolute;
        top: 20px;

        @mixin atLarge {
            display:none!important;
        }

        &.navicon--toggle{
            display: inline-block;
            position:fixed;
            right: 0;
            top: 31px;
        }
    }

   &--fixed{
    position:fixed;
    padding: 0;
        
        & .navbar__nav{

              @mixin atLarge{
                padding: 5px 0;
            }

            &--is-open{
                padding-top: 40px;
            }
        }
    
    & .navbar__mobile-buttons{
        top: 4px;
    }
    
       
    & .navbar__logo img{
        max-width: 225px;
        
    @mixin atLarge{
        max-width: 324px;
    }

}


   }

  

    &__tagline{
        display: none;
        color: $primaryColor;
        font-size: 0.8em;
        position:absolute;
        bottom:-5px;

            &--left{
                left: 77px;
            }

            &--right{
                right:5px;
            }

        @mixin atLarge{
            display: block;
        }
    }

}