.nav {
    margin-bottom:0;


    @mixin atMedium {
        display:flex;
    }

    &__item {
        display: block;
        margin-bottom:0;
        border-bottom: 1px solid $lightgrey;

            

          & > a:hover {
            color: #ffffff;
        }
    }

     &__item:focus &__link, &__item:active &__link{            
                background-color: $primaryColor;
                color: white;
        }

    &__link {
        position: relative;
        display: block;
        padding:12px 50px;
        margin:0;
        font-weight:500;
        font-size:1em;
        color:$grey;

        &:hover{
            background-color: $primaryColor;
        }

      

        @mixin atMedium {
            color:$primaryColor;
        }

    }
}