.navicon {
    position:relative;
    z-index:999;
    border:none;
    background-color:transparent;
    padding:10px 8px;
    outline:none;
    display:inline-block; 
  
    &__holder {
      display:block;
      cursor:pointer;
    }
    
    &__line {
      position:relative;
      width:26px;
      height:3px;
      margin-bottom:5px;
      display:block;
      border-radius:5px;
      background-color:#000;
      transition:all 0.25s cubic-bezier(0.57, 0.28, 0.25, 0.69);
      
      &:last-of-type {
        margin-bottom:0;
      }
    }
    
    &--toggle &__line {
      background-color:#fff;
    }

    &--toggle &__line:first-of-type {
      transform:
        rotate(45deg)
        translateY(6px)
        translateX(6px);
    }
    
    &--toggle &__line:nth-of-type(2) {
      opacity:0.0;
      transform:scale(0);
    }
    
    &--toggle &__line:last-of-type {
      transform:
        rotate(-45deg)
        translateY(-5px)
        translateX(5px);
    }
}