body {
    font-size:16px;
    color:#000;
    font-family: $primaryFont; 
}


a,
button {
    transition:all 0.2s ease;
}

a:hover {
    text-decoration:none;
}

img {
    max-width:100%;
}

.show-on-mobile{
	display: inline-block;

	@mixin atLarge {
		display: none!important;
	}
}

.page-title {
    font-weight: normal;
    display: none;

    @mixin atMedium {
        display: block;
        margin-top: 0;
        border-bottom: 2px dotted $primaryColor;
        padding-bottom: 10px;
        margin-bottom: 10px!important;
        position: relative;
    }
}