body {
    font-size:16px;
    color:#000;
    font-family: $primaryFont; 
}


a,
button {
    transition:all 0.2s ease;
}

a:hover {
    text-decoration:none;
}

img {
    max-width:100%;
}

.show-on-mobile{
	display: inline-block;

	@mixin atLarge {
		display: none!important;
	}
}

